{{> header }}


{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Mesa cuadrada</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed, a quasi! Ipsum eius tempora minima asperiores quasi quos, deserunt laboriosam temporibus repellat molestiae ad nemo, vel quidem perspiciatis, voluptates explicabo.</p>
    </div>
    <div class="col-4">
        <img src="/public/assets/img/24.jpeg" class="img-thumbnail" alt="">
    </div>
</div>


{{> footer}}